

nav{
    background-color: darkslategray;
    
}
.container-1{
    margin-top: 100px;
    border-radius: 10px;
}
.text-white{
    font-size: 20px;
}
.text-white{
    font-size: 20px;
    font-weight: bold;
}
.cow-1{
    color: navy;
    font-weight: bold;
    font-size: 50px;
}

.h1{
    font-size: 60px;
    font-weight: bold;
}
.card img:hover{
    transform: scale(.7);
    transition: transform 1s ease-in-out;
    overflow: hidden;
}
.nav-item a:hover{
    display: block;
    background-color: rgb(5, 56, 56);
    
}
.carousel-bg{
    background-color: rgba(75, 212, 183, 0.534);
}